# Ignore virtual environment
venv/

# Ignore draft notebook
etl_postgress_draft.ipynb

# Optional: Ignore Python cache and system files
__pycache__/
*.pyc
.ipynb_checkpoints


.env
.env.local

output
debug
